*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:focus,
*:active {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
}

/*общие стили классов*/
.header__container,
.footer__container
.main__container {
  max-width: 1200px;
  width: 95%;
  margin: auto;
}


.input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 4px 6px 5px;
}

.form {
  position: relative;
  max-width: 187px;
  width: 100%;
  padding-top: 4px;
  padding-left: 3px;
}
