.footer {
  background-color: #353436;
  padding: 36px 0 17px;
  
}

/*Information (3 columns) and NEWSLETTER form*/
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 940px;
  margin: auto;
}

.footer-info__item {
  max-width: 200px;
  padding: 0 0 0 9px;
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
}

.footer-info__title {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.footer-info__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 17.4px;
  max-width: 184px;
  width: 100%;
}

/*Contacts, socials, language choice*/
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  margin-top: 24px;
  max-width: 1200px;
}
.contacts__link {
  font-size: 12px;
  margin-right: 12px;
}

.footer-contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 320px;
  width: 100%;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__icon {
  width: 18px;
  height: 18px;
}

.contacts__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__language {
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  margin-left: 19px;
}

.contacts__language:after {
  content: '';
  background-color: #fff;
  color: #000;
  width: 1px;
  height: 100%;
  position: absolute;
  right: -10px;
  top: 0px;
}

.contacts__language:last-child:after {
  width: 0;
}

/*NEWSLETTER block styles*/
.footer__info__form {
  max-width: 187px;
  width: 100%;
  padding-top: 4px;
  padding-left: 3px;
  position: relative;
}

.form__checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.footer-form__checkbox {
  width: 10px;
  height: 10px;
  margin-left: 1px;
}

.form__input {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.form__input:nth-child(2) {
  margin-bottom: 9px;
}

.form__label {
  font-size: 10px;
  color: #b5b4b4;
  margin-left: 4px;
}

.footer__form button {
  width: 100%;
}

/*@media requests styles*/
@media (max-width: 992px) {
  .footer-info__title {
    font-size: 12px;
    margin-bottom: 16px;
  }
  .footer-info__text {
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 10px;
  }
  .contacts__language {
    margin-left: 15px;
  }
  .footer__info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 580px;
  }
  .footer-info__item {
    padding: 0;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .footer-info__item {
    max-width: 300px;
    display: none;
  }
  .footer-info__item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer-info__title {
    text-align: center;
  }
  .footer__form {
    min-width: 260px;
  }
  .footer-contacts__info {
    display: none;
  }
}

/*hover*/
a:hover,
.contacts__link:hover {
  color: #e2d1a6
}

