.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  z-index: 8;
}

.overlay__modal {
  position: relative;
  top: 54.7%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 7px 43px 10px 39px;
  width: 596px;
  min-height: 361px;
  border: 1px solid #ffffff;
  background-color: #353436;
}

.overlay__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

.overlay__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.overlay__close {
  background-image: url(../img/overlay/close.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 12px;
  right: 17px;
}

.form__title {
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: 18px;
}

.form__input {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.form__input:nth-child(2) {
  margin-bottom: 9px;
}



@media (max-width: 768px) {
  .overlay__modal {
    width: 300px;
  }
  .overlay__title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .overlay__forms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .overlay__form {
    margin-bottom: 15px;
  }
  .overlay__form .form__title {
    font-size: 16px;
    text-transform: uppercase;
  }
}

@media (min-width: 993px) {
  .overlay__close:hover {
    cursor: pointer;
    background-image: url(../img/overlay/close-focus.svg);
  }
}
